<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
  <title>Start</title>
</head>
<body>
<h1 style="text-align: center;vertical-align: middle">Это мой проект</h1>
<div class="alert alert-primary" role="alert">
  Вот так вот
</div>
<div> Попробуйте ссылки:
</div>
<div>cube/user/300/4/00ec00</div>
<div>cube/random</div>
<div>mandel/random</div>
</body>
</html>